<div id="<%= dom_id pokemon_sale %>">
    <% pokemon = pokemon_sale.pokemon %>
    <tr>
      <td> <%= pokemon.name %> </td>
      <td> <%= pokemon.base_experience %></td>
      <td> <%= value_with_precision(pokemon_sale.value) %> </td>
      <td> <%= pokemon_sale.created_at.strftime("%d-%m-%Y") %></td>
    </tr>
</div>
