<%= render partial: "shared/header"%>

<p style="color: green"><%= notice %></p>

<h1 class="text-center">Pokemon sales</h1>

<div id="pokemon_sales">
  <% @pokemon_sales.each do |pokemon_sale| %>
    <%= render pokemon_sale %>
    <p>
      <%= link_to "Show this pokemon sale", pokemon_sale %>
    </p>
  <% end %>
</div>

<%= link_to "New pokemon sale", new_pokemon_sale_path %>
