<%= render partial: "shared/header"%>

<p style="color: green"><%= notice %></p>

<h1 class="text-center">Pokemons</h1>

<div class="container" id="pokemons">
  <% @pokemons.each do |pokemon| %>
    <%= render pokemon %>
    <p>
      <%= link_to "Show this pokemon", pokemon %>
    </p>
  <% end %>
</div>

<%= link_to 'Aquisições de pokemons', pokemon_acquisitions_path%>
